.nice-class-container {
    @media (min-width: 1000px) and (max-width: 3000px) {
        justify-content: space-evenly;
        flex-direction: row;

        min-width: 70vw;
    }
    display: flex;
    min-width: 90vw;
    flex-direction: column;
    justify-content: center;
}

.custom-btn {
    padding: 0.85em;
    font-size: 1.25em;
    min-width: 17vw;
    margin: 1.25em 0.15em;
    background-color: var(--formBtnMainColor);
    color: white;
    transition: background-color 600ms ease;

    &:hover {
        background-color: var(--formBtnHoverColor);
        color: white;
        transition: background-color 600ms ease;
    }
    &:focus {
        border-color: var(--formBtnFocusBorderColor);
        box-shadow: 0 0 0 0.25rem var(--formBtnBoxShadowColor);
    }
}

.custom-section-container {
    display: flex;
    flex-direction: column;
}

.custom-table-container {
    align-self: center;
    margin-top: 1.5em;
    min-width: 70vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
}
.custom-subtitle {
    font-size: 1.5em;
    color: var(--formBtnMainColor);
}

.custom-subtitle-container {
    align-self: center;
}
