.logo-brand-container {
    width: 10em;
    height: 10em;
    position: relative;
}

.word-brand-container {
    width: 50em;
    height: 7em;
    position: relative;
}

.brand-logo {
    max-width: 15vw;
    @media (min-width: 600px) and (max-width: 2000px) {
        width: 10vw;
    }
}

.letter-logo {
    max-width: 40vw;
}

.title {
    font-size: 1em;
    font-weight: 350;
    font-style: italic;
    color: var(--formBtnMainColor);
}

.letter-secondary {
    width: 28em;
    height: 4em;
    position: relative;
}
.logo-secondary {
    width: 5em;
    height: 5em;
    position: relative;
    margin-bottom: 2em;
}
