.form-control-custom {
    border-color: var(--formImputColorMain);
    min-height: 3em;
    max-height: 3em;
    border-width: 0.3em;
    border-radius: 0.75em;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: var(--formBtnMainColor);
    font-weight: bold;
    transition: all 300ms ease;
    &:focus {
        border-width: 0.1em;
        border-color: var(--formBtnFocusBorderColor);
        box-shadow: 0 0 0 0.25rem var(--formBtnBoxShadowColor);
        color: var(--formBtnHoverColor);
    }
}

.custom-table {
    background-color: var(--shadowColorTable);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.custom-table-row {
    border-color: rgba(0, 0, 0, 0.15);
}
.custom-table-cell {
    color: var(--shadowTableTextColor) !important;
    font-size: 1.2em;
}
.heading {
    font-size: 1.25em;
}
.class-heading {
    display: flex;
    align-items: flex-end;
}
.custom-table-heading {
    margin-bottom: 0em;
}
.custom-table-menu {
    position: relative;
    top: 0.35em;
    left: 0.3em;
}
.custom-selected-row {
    &:nth-of-type(odd) {
        background-color: var(--shadowTableTextColorOdd) !important;
    }
    &:nth-of-type(even) {
        background-color: var(--shadowTableTextColorEven) !important;
    }
}
.custom-selected-cell {
    color: white !important;
}
.custom-table-subtitle {
    margin: 2em 0em 1em;
    font-size: 1.7em;
    color: var(--formBtnMainColor);
    font-weight: bolder;
}
.custom-cell-img {
    max-width: 2em;
}
